*{
    font-family: 'Poppins', sans-serif;
    text-align:  left;
}
html, body {
    height: 100%;
    margin: 0;
  }
#app {
    min-height: 100%;
}
.bg-darkPurple{
    background-color: #523eab !important;
}
.bg-lavender{
    background-color: #cbb4e2;
}
.navbar{
    background-color: #a368df;
}
#navbar, .main-comp{
    padding-left: 70px !important;    
    padding-right: 70px !important; 
    margin-bottom: 20px;   
}
#navbar a{
    color: white;
}
#navbar .collapse a{
    margin-left: 15px;
}
#navbar .collapse a.router-link-exact-active {
    color: #452f5e;
}
.bg-pink{background-color: #f346a5 !important;}
#navbar .collapse{
    margin-left: 20px;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.dashboardNav{
    background-color: #9d7ebd;  
}
.b-0{border: 0;}
.dashboardNav a.active{
    color: #452f5e !important;
}
#cart{padding-right: 0px}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
#carouselExampleControls{margin-bottom: 50px;}
.info, .history{
    line-height: 1.7em;
    margin-bottom: 3em;
}
.info h2{margin-bottom: 25px;}
img{
    height: auto;
    max-height: 500px;
}
#topProducts{
    margin-bottom: 100px;
    
    text-align: left;
}
#topProducts .row{
    margin-left: 0px;
    margin-right: 0px;
}
#topProducts h2{
    margin-bottom: 25px;

}
#topProducts .col-md-6{
    padding-left: 10px;
}
#topProducts .col, #faq .col{ padding: 10px;}
.footer{
    height: 45px;
    line-height: 45px;
    /* margin-top: -45px; */
    font-size: 18px;
    color: rgb(0, 0, 0);
    background-color: #a882ce !important;
}
.text-color-white{color: white !important;}
#contact{margin-bottom: 25px;}
#faq{margin-bottom: 45px;}
#contact-message{
    resize: none !important;
}
.btn-purple{
    background-color: #523eab !important;
}
.shop-item {
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}
.btn-buy{
    color: rgb(255, 255, 255);
    font-weight: bolder;
}
.fa-check-circle{
    font-size: 2em;
}
.btn-buy:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #b30966;
}
.w-20{width: 20% !important;}
.btn-search:hover{
    cursor: pointer;
}
#desc{
    word-wrap: break-word;
}
#desc pre{
    font-family: 'Poppins', sans-serif !important;
}
pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
   }
.filters{
    background-color: #a882ce ;
}
button.mt-3{
    margin-top: 10px;
}
#shop-items h3{
    font-weight: bold;
    margin-bottom: 35px;
}
.m_-45{
    margin-bottom: -45px;
}
.fa-times-circle:hover{
    color:red;
    cursor: pointer;
}
.mr-8{margin-right: 8em !important;}
.modifyQuantity i:hover{
    cursor: pointer;
    color: #9b37ff;
}
#cart-buy{
    width: 5em;
}
span.input-group-text{
    border:none;
}
#addCode{
    width: 20em;
}
#addCode input{
    width: 15%;
    height: 36px;
    display: inline-block;
}
#addCode .input-group-append{
    display: inline;
}
#addCode .input-group-append:hover{
    cursor: pointer;
}
.pl-12{
    padding-left: 0.75em !important;
}
.description p{
    font-size: 1em;
}
.buy-product p{
    font-size: 1.2em;
}
.dropdown-menu:hover{
    cursor: pointer;
}
.alert{
    width: 100% !important;
    max-width: 250px;
    animation: fadeInLeft 1s;
}
div .bg-danger{
    background-color: rgb(255, 136, 136) !important;
}
#productOutOfStock{
    font-weight: bold;
    font-size: 1.5em;
}
#product-display #desc{
    font-size: 1.2em
}
.product .info-product p{
    margin-bottom: 0.5em !important;
    min-height: 72px !important;
}
.stars{
    font-size: 1.3em;
    color: yellow
}
.stars span{
    font-size: 0.8em;
    color: black;
    cursor: default;
}
.fa-star{
    /* padding-left: 3px; */
    padding: 5px 5px;
}




#loading-products{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 8px solid #f3f3f3; 
    border-top: 8px solid pink;
    animation: rotateLoading 1s infinite linear;
    
}
.pageNavigation button{
    border: 0;
}
.pageNavigation button:focus{
    border: 0;
    outline: none;
}
div.alert-corner{
    position: absolute;
    bottom: 100px;
    right: 70px;
    animation: fadeInRight 1s;
}
.alert-error{
    background-color: rgb(255, 139, 139) !important;
}
.btn-style-none{
    background-color: transparent;
    outline: none;
    border: none;
}
.btn-options:hover i{
    color: #b30966;
}
.fa-star{
    color: yellow;
}
.fs-info{
    font-size: 1.2em;
}
.grid-faq{
    display: grid;
    grid-template-columns: repeat(3,minmax(0, 1fr));
    grid-gap: 1em;
}
.grid-faq > div{
    border-radius: 10px;
    min-width: 0px;
    word-wrap: break-word  !important;
}
.vertical-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.socialMedia i{
    font-size: 2em;
}
.buyOptions{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
}
.buyOptions i{
   font-size: 3em;
   cursor: pointer;
}
.buyOptions .proceed{
    grid-column: 2/3;
    text-align: center;
    padding: 0.5em;
}
.buyOptions span{
    grid-column: 1/4;
}
.cash{
    grid-column: 1/2;
    grid-row: 1/3;
}
.btn-cash{
    background-color:greenyellow;
    font-size: 1.2em;
    padding: 0.3em;
    border-radius: 10px;
}
@keyframes rotateLoading{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
@keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
}   
@keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
}   
 
@media only screen and (max-width: 1000px){
    #topProducts .product{
        margin-bottom: 15px;
    }
    .grid-faq{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (max-width: 950px){
    #topProducts{
        padding-top: 16px;
    }
}
@media only screen and (max-width: 768px){
    div.shop-item{margin-right: 0px !important;}
    .filters .dropdown-toggle{padding-left: 0px;}
    .dropdown{ margin-bottom: 0.5em;}
    .nav-link{ margin-left: 0 !important;}
    #cart{ padding-left: 0px;}
    #navbarSupportedContent{margin-left: 0 !important;}
}
@media only screen and (max-width: 400px){
    #navbar, .main-comp {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
}
@media only screen and (max-width: 340px){
    #navbar {
        padding-left: 25px;
        padding-right: 0px;
    }
    #navbar .navbar-brand{
        font-size: 16px;
        margin-left: 0px;

    }
}
/*Disable arorws for number inputs*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
