*{
    font-family: 'Poppins', sans-serif;
    text-align:  left;
}
html, body {
    height: 100%;
    margin: 0;
  }
#app {
    min-height: 100%;
}
.bg-darkPurple{
    background-color: #523eab !important;
}
.bg-lavender{
    background-color: #cbb4e2;
}
#navbar, .main-comp{
    padding-left: 70px !important;    
    padding-right: 70px !important; 
    margin-bottom: 20px;   
}
#navbar a{
    color: white;
}
#navbar .collapse a{
    margin-left: 15px;
}
#navbar .collapse a.router-link-exact-active {
    color: #f346a5;
}
.bg-pink{background-color: #f346a5 !important;}
#navbar .collapse{
    margin-left: 20px;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

#cart{padding-right: 0px}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
#carouselExampleControls{margin-bottom: 50px;}
.info, .history{
    line-height: 1.7em;
    margin-bottom: 3em;
}
.info h2{margin-bottom: 25px;}
img{
    height: auto;
    max-height: 500px;
}
#topProducts{
    margin-bottom: 100px;
    
    text-align: left;
}
#topProducts .row{
    margin-left: 0px;
    margin-right: 0px;
}
#topProducts h2{
    margin-bottom: 25px;

}
#topProducts .col-md-6{
    padding-left: 10px;
}
#topProducts .col, #faq .col{ padding: 10px;}
.footer{
    height: 45px;
    line-height: 45px;
    /* margin-top: -45px; */
    font-size: 18px;
    color: rgb(0, 0, 0);
    background-color: #a882ce !important;
}

.text-color-white{color: white !important;}
#contact{margin-bottom: 25px;}
#faq{margin-bottom: 45px;}
#contact-message{
    resize: none !important;
}
.btn-purple{
    background-color: #523eab !important;
}
.shop-item {
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}
.btn-buy{
    color: rgb(255, 255, 255);
    font-weight: bolder;
}
.btn-buy:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #b30966;
}
.w-20{width: 20% !important;}
.btn-search:hover{
    cursor: pointer;
}
.filters{
    background-color: #a882ce ;
}
#shop-items h3{
    font-weight: bold;
    margin-bottom: 35px;
}
.m_-45{
    margin-bottom: -45px;
}
.fa-times-circle:hover{
    color:red;
    cursor: pointer;
}
.mr-8{margin-right: 8em !important;}
.modifyQuantity i:hover{
    cursor: pointer;
    color: #9b37ff;
}
#cart-buy{
    width: 5em;
}
span.input-group-text{
    border:none;
}
#addCode{
    width: 20em;
}
#addCode input{
    width: 15%;
    height: 36px;
    display: inline-block;
}
#addCode .input-group-append{
    display: inline;
}
#addCode .input-group-append:hover{
    cursor: pointer;
}
.pl-12{
    padding-left: 0.75em !important;
}
.description p{
    font-size: 1em;
}
.buy-product p{
    font-size: 1.2em;
}
.dropdown-menu:hover{
    cursor: pointer;
}

@media only screen and (max-width: 1000px){
    #topProducts .product{
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 950px){
    #topProducts{
        padding-top: 16px;
    }
}
@media only screen and (max-width: 768px){
    div.shop-item{margin-right: 0px !important;}
    .filters .dropdown-toggle{padding-left: 0px;}

}
@media only screen and (max-width: 400px){
    #navbar, .main-comp {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
}
@media only screen and (max-width: 340px){
    #navbar {
        padding-left: 25px;
        padding-right: 0px;
    }
    #navbar .navbar-brand{
        font-size: 16px;
        margin-left: 0px;

    }
}

/*Disable arorws for number inputs*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
